.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Main starts from here*/
h1.heading {
  color: chocolate;
  text-align: left;
  font-size: large;
  margin-top: 45px;
}

.rightLabel {
  float: right;
}

.topnav {
  overflow: hidden;
  background-color: #d8d3d3;
}
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 16px;
}
.topnav a:hover {
  background-color: #a3a2a2;
  color: black;
}
.topnav a.active {
  background-color: #2196f3;
  color: white;
}
